@model List<SimpleWebApplication.Models.Reportes>

<div class="well">
    <h2>Reportes</h2>
    <ul>
        @foreach (var reporte in Model)
        {
            <li>@reporte.Descripcion @reporte.Estatus @reporte.Fecha</li>
        }
    </ul>
</div>
